@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nmd3ag');
  src:  url('fonts/icomoon.eot?nmd3ag#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nmd3ag') format('truetype'),
    url('fonts/icomoon.woff?nmd3ag') format('woff'),
    url('fonts/icomoon.svg?nmd3ag#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e900";
}
.icon-instagram-1:before {
  content: "\e901";
}
.icon-spotify:before {
  content: "\e902";
}
.icon-discord:before {
  content: "\e903";
}
.icon-add:before {
  content: "\e904";
}
.icon-pinterest:before {
  content: "\e905";
}
.icon-github-1:before {
  content: "\e906";
}
.icon-epicgames:before {
  content: "\e907";
}
.icon-steam:before {
  content: "\e908";
}
.icon-myanimelist:before {
  content: "\e909";
}
.icon-x-twitter:before {
  content: "\e90a";
}
.icon-facebook:before {
  content: "\e90b";
}
.icon-valorant:before {
  content: "\e90c";
}
.icon-riotgames:before {
  content: "\e90d";
}
.icon-trakt:before {
  content: "\e90e";
}
.icon-anilist:before {
  content: "\e90f";
}
.icon-reddit:before {
  content: "\e910";
}
.icon-spotify-1:before {
  content: "\e911";
}
.icon-instagram:before {
  content: "\e912";
}
